<h1>Listing profiles</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Date of birth</th>
    <th>Job title</th>
    <th>Bio</th>
    <th>Pic url</th>
    <th>Pic url thumb</th>
    <th>Pic url medium</th>
    <th>User</th>
    <th>Account</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.first_name %></td>
    <td><%= profile.last_name %></td>
    <td><%= profile.date_of_birth %></td>
    <td><%= profile.job_title %></td>
    <td><%= profile.bio %></td>
    <td><%= profile.pic_url %></td>
    <td><%= profile.pic_url_thumb %></td>
    <td><%= profile.pic_url_medium %></td>
    <td><%= profile.user %></td>
    <td><%= profile.account %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
