<div>
	<%= image_tag @profile.pic_url.url(:thumb).to_s, alt: "#{@profile.first_name} #{@profile.last_name}", class: "profile-avatar"  %>
	
</div>
<p>
  <%= @profile.first_name %>
  <%= @profile.last_name %>
</p>

<p>
  <%= @profile.date_of_birth %>
</p>

<p>
  <%= @profile.job_title %>
</p>

<p>
  <%= @profile.bio %>
</p>
<% if current_user.id == @profile.user_id #This method should moved to controller or model %>
	<%= link_to 'Edit', edit_profile_path(@profile) %>
<% end %>



<h1>Listing posts</h1>


<ul class="posts" id="feed">
<% @posts.each do |post| %>
	<li class="post">
		<div class="post-meta">
			<%= link_to(timeago_tag(post.created_at, :nojs => false, :limit => 10.days.ago), post ) %>
		</div>

		<div class="post-content">
			<%= post.content %>
		</div>
		<div class="post-actions">
			<% if current_user.id == post.user_id #This method should moved to controller or model %>
			<ul>
				<li><%= link_to 'Edit', edit_post_path(post) %></li>
				<li><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>			</li>			   	
			</ul>
			<% end %>
		
		</div>
	</li>
<% end %>
</ul>