<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <% @user.build_profile  if @user.profile.nil? %>


  <%= f.fields_for :profile do |p| %>
  	<div><%= p.label :first_name %><br />
  	  <%= p.text_field :first_name, autofocus: true %></div>
  
	<div><%= p.label :last_name %><br />
	  <%= p.text_field :last_name %></div>
  <% end %>
  
  

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>

<%= render "devise/shared/links" %>