<div id="comments">
<% @comments.each do |comment| %>

	<div class="comment-meta">
		<%= timeago_tag(comment.created_at, :nojs => false, :limit => 10.days.ago) %>
	</div>
	<div class="comment-content">
    	<%= simple_format comment.content %>
	</div>
	<div class="comment-action">
		<ul>
			<li><%= link_to 'Edit', edit_post_comment_path(comment) %></li>
			<li><%= link_to 'Delete', post_comment_path(comment), method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %></li>			   	
		</ul>
	</div>
<% end %>
</div>