<h1>Listing posts</h1>

<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content, :rows => 3 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>



<ul class="posts" id="feed">
<% @posts.each do |post| %>
	<li class="post">
		<div class="post-meta">
			<%= link_to(timeago_tag(post.created_at, :nojs => false, :limit => 10.days.ago), post ) %>
		</div>

		<div class="post-content">
			<%= post.content %>
		</div>
		<div class="post-actions">
			<ul>
				<li><%= link_to 'Like', edit_post_path(post) %></li>
				<% if current_user.id == post.user_id #This method should moved to controller or model %>
				
				<li>
					<ul>
						<li><%= link_to 'Edit', edit_post_path(post) %></li>
						<li><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>			</li>			   	
					</ul>
				</li>
				<% end %>
			</ul>
		
		</div>
	</li>
<% end %>
</ul>