<h1>Listing posts</h1>


<ul class="posts" id="feed">
<% @posts.each do |post| %>
	<li class="post">
		<div class="post-meta">
			<%= link_to(timeago_tag(post.created_at, :nojs => false, :limit => 10.days.ago), post ) %>
		</div>

		<div class="post-content">
			<%= post.content %>
		</div>
		<div class="post-actions">
			<% if current_user.id == post.user_id #This method should moved to controller or model %>
			<ul>
				<li><%= link_to 'Edit', edit_post_path(post) %></li>
				<li><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you want to delete this?' } %>			</li>			   	
			</ul>
			<% end %>
		
		</div>
	</li>
<% end %>
</ul>