<div class="post" id="post">
	<div class="post-meta">
		<%= link_to(timeago_tag(@post.created_at, :nojs => false, :limit => 10.days.ago), post_path(@post) ) %>
		
	</div>

	<div class="post-content">
		<%= @post.content %>
	</div>
	<div class="post-actions">
		
		<% if current_user.id == @post.user_id #This method should moved to controller or model %>
		<ul>
			<li><%= link_to 'Edit', edit_post_path(@post) %></li>
			<li><%= link_to 'Destroy', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>			</li>			   	
		</ul>
		<% end %>
	
	</div>
	
	
	<div class="post-reply" id="name">
		
		<%= render "comments/list" %>		
		<%= render "comments/form" %>
	</div>
</div>