<!DOCTYPE html>
<html>
<head>
  <title>Engage</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><%= link_to('engage', root_path) %></h1>
<ul>
<% if user_signed_in? %>
  <li>
  <%= link_to('Profile', profile_path(current_user.id)) %>
  </li>
  <li>
  <%= link_to('Home', root_path) %>
  </li>
  <li> Settings 
	  <ul>
		  <li>
		  <%= link_to('Edit Profile', edit_profile_path(current_user.id)) %>
		  </li>
		  <li>
		  <%= link_to('Edit Account', edit_user_registration_path) %>
		  </li>
		  <li>
		  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
		  </li>
	  </ul>
  </li>

<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>

<% end %>
</ul>

<%= render 'layouts/messages' %>

<%= yield %>

</body>
</html>
